.page{
    width: 780px;
    height: 1200px;
    margin: auto;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 40px;
    border: 5px solid #3388CC;
    border-radius: 10px;
    box-shadow: 2px 4px 3px black;
    background-color: #FFFFFF;
}
.principal{
    height: 250px;
}
.info{
    float: left;
}
.photo{
    float: right;
}
strong{
    font-size: 26px;
}
h2{
    font-size: 28px;
    color: #3388BB;
    text-transform: uppercase;
    border-bottom: 3px solid #3388DD;
}
.section{
    margin-bottom: 70px;
    text-align: justify;
}
.gauche{
    float: left;
    font-weight: bold;
    font-size: 20px;
}
.droite{
    margin-left: 150px;
    margin-top: 43px;
}
.titre{
    font-weight: bold;
    font-size: 20px;
}
.duree{
    font-weight: normal;
    font-style: italic;
    font-size: 16px;
}
#forma-gauche p{
    margin-bottom: 37px;
}